/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.container {
  display: flex;
  justify-content: center; }

aside {
  margin: 0 80px;
  max-width: 300px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5; }
  aside .blurb {
    font-size: 20px;
    text-align: center; }
    aside .blurb a {
      color: #10ad79;
      text-decoration: none;
      font-weight: 700; }
  aside .counts {
    margin-top: 20px;
    text-align: center; }
    aside .counts input {
      margin: 0;
      margin-left: 4px;
      padding: 0 2px;
      display: inline;
      max-width: 45px;
      height: 19.5px;
      white-space: normal;
      line-height: 1.5;
      font-size: 13px;
      font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
      color: #075038;
      background-color: #dafcf0;
      border-radius: 3px;
      border: 0;
      transition: 150ms ease-in; }
      aside .counts input:hover {
        background-color: #c3f9e7; }
      aside .counts input:focus {
        outline: none; }
      aside .counts input[type=number]::-webkit-inner-spin-button, aside .counts input[type=number]::-webkit-outer-spin-button {
        opacity: 1; }
    aside .counts h2 {
      display: inline;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.025em;
      color: #777; }
      aside .counts h2 em {
        padding: 1px 2px;
        margin-left: 10px;
        font-style: normal;
        color: #10ad79;
        background-color: #dafcf0;
        border-radius: 3px; }
    aside .counts #iteration-number {
      line-height: 1.5;
      font-size: 13px;
      font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
      color: #075038; }
    aside .counts .restart-iteration {
      margin-top: -1px;
      padding: 0px 6px;
      height: 19.5px;
      white-space: normal;
      line-height: 1.5;
      font-size: 12px;
      font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
      text-transform: uppercase;
      vertical-align: middle;
      color: #075038;
      background-color: #dafcf0;
      transition: 150ms ease-in;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px; }
      aside .counts .restart-iteration:focus {
        outline: none; }
      aside .counts .restart-iteration:hover {
        background-color: #c3f9e7; }

.image-number {
  margin: 5px 0;
  list-style: none;
  font-size: 12px;
  color: #323232; }
  .image-number li {
    margin: 3px;
    display: inline-block;
    text-align: center; }
    .image-number li:first-of-type label {
      cursor: default; }
      .image-number li:first-of-type label:hover {
        background-color: #e2e2e2; }
  .image-number input {
    visibility: hidden;
    width: 0;
    height: 0; }
  .image-number label {
    padding: 1px 6px;
    background-color: #e2e2e2;
    cursor: pointer;
    border-radius: 3px;
    transition: 120ms ease-in;
    user-select: none; }
    .image-number label:hover {
      background-color: #cbcbcb; }
  .image-number input:checked + label {
    background-color: #cbcbcb;
    color: #0a704f; }

header {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 52px;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: -0.025em;
  cursor: default;
  user-select: none; }

.image {
  margin: 20px auto;
  margin-bottom: 40px;
  text-align: center; }
  .image canvas {
    border-radius: 5px; }

article {
  margin-top: 170px;
  margin-left: 20px;
  width: 900px; }
  article .plot-container {
    position: relative; }
    article .plot-container svg {
      position: absolute;
      top: 0;
      left: 0; }
      article .plot-container svg circle {
        cursor: pointer; }
    article .plot-container .color-tooltip {
      margin-left: 22px;
      padding: 5px 10px;
      position: absolute;
      max-width: 130px;
      height: 62px;
      background-color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 12px;
      color: #525252;
      z-index: 10;
      border-radius: 3px; }
      article .plot-container .color-tooltip h2 {
        margin: 2px 0;
        padding: 1px 3px;
        display: inline;
        font-size: 13px;
        text-shadow: 0px 1px 1px #4e4e4e;
        color: white; }
      article .plot-container .color-tooltip h3 {
        font-weight: bold;
        font-size: 11px;
        color: #6c6c6c;
        letter-spacing: 0.015em; }
      article .plot-container .color-tooltip:after {
        padding-left: 22px;
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: white;
        border-width: 8px;
        margin-top: -8px; }

.links {
  margin: 20px 0;
  margin-left: -40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 400px;
  font-family: 'EB Garamond', serif;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em; }
  .links p {
    font-weight: 500; }
    .links p em {
      font-weight: 700; }
  .links a {
    margin-top: -10px;
    font-weight: 700;
    text-decoration: none;
    color: #10ad79; }
    .links a:hover {
      text-decoration: underline;
      color: #075038; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJhc3NldHMvc3R5bGVzL21haW4uY3NzIiwic291cmNlUm9vdCI6IiJ9*/