@import 'reset';

$light-green: #10ad79;
$light-gray: #e2e2e2;

.container {
  display: flex;
  justify-content: center;
}

aside {
  margin: 80px;
  max-width: 300px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;

  .blurb {
    font-size: 19px;

    a {
      color: $light-green;
      text-decoration: none;
      font-weight: 700;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.025em;
    color: #777;

    em {
      padding: 1px;
      color: $light-green;
      background-color: lighten($light-green, 55%);
      font-style: normal;
    }
  }
}

.image-number {
  margin: 5px 0;
  list-style: none;
  font-size: 12px;
  color: #323232;

  li {
    margin: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  label {
    padding: 1px 6px;
    background-color: $light-gray;
    cursor: pointer;
    border-radius: 3px;
    transition: 120ms ease-in;
    user-select: none;

    &:hover {
      background-color: darken($light-gray, 9%);
    }
  }

  input:checked + label {
    background-color: darken($light-gray, 9%);
    color: darken($light-green, 13%);
  }
}

header {
  margin: 40px 0;
  font-size: 52px;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: -0.025em;
  cursor: default;
  user-select: none;
}

.image {
  margin: 50px auto;
  text-align: center;

  canvas {
    border-radius: 5px;
  }
}

article {
  margin-top: 170px;
  margin-left: 80px;
  width: 900px;

  .plot-container {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.tooltip-color {
  position: absolute;
  font-size: 14px;
  pointer-events: none;
}
