@import 'reset';

$light-green: #10ad79;
$lighter-green: lighten($light-green, 55%);
$dark-green: darken($light-green, 20%);
$light-gray: #e2e2e2;

.container {
  display: flex;
  justify-content: center;
}

aside {
  margin: 0 80px;
  max-width: 300px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;

  .blurb {
    font-size: 20px;
    text-align: center;

    a {
      color: $light-green;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .counts {
    margin-top: 20px;
    text-align: center;

    input {
      margin: 0;
      margin-left: 4px;
      padding: 0 2px;
      display: inline;
      max-width: 45px;
      height: 19.5px;
      white-space: normal;
      line-height: 1.5;
      font-size: 13px;
      font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
      color: $dark-green;
      background-color: $lighter-green;
      border-radius: 3px;
      border: 0;
      transition: 150ms ease-in;

      &:hover {
        background-color: lighten($light-green, 50%);
      }

      &:focus {
        outline: none;
      }

      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        opacity: 1;
      }
    }

    h2 {
      display: inline;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.025em;
      color: #777;

      em {
        padding: 1px 2px;
        margin-left: 10px;
        font-style: normal;
        color: $light-green;
        background-color: $lighter-green;
        border-radius: 3px;
      }
    }

    #iteration-number {
      line-height: 1.5;
      font-size: 13px;
      font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
      color: darken($light-green, 20%);
    }

    .restart-iteration {
      margin-top: -1px;
      padding: 0px 6px;
      height: 19.5px;
      white-space: normal;
      line-height: 1.5;
      font-size: 12px;
      font-weight: 700;
      font-family: 'Noto Sans', sans-serif;
      text-transform: uppercase;
      vertical-align: middle;
      color: $dark-green;
      background-color: $lighter-green;
      transition: 150ms ease-in;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: lighten($light-green, 50%);
      }
    }
  }
}

.image-number {
  margin: 5px 0;
  list-style: none;
  font-size: 12px;
  color: #323232;

  li {
    margin: 3px;
    display: inline-block;
    text-align: center;

    &:first-of-type label {
      cursor: default;

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  label {
    padding: 1px 6px;
    background-color: $light-gray;
    cursor: pointer;
    border-radius: 3px;
    transition: 120ms ease-in;
    user-select: none;

    &:hover {
      background-color: darken($light-gray, 9%);
    }
  }

  input:checked + label {
    background-color: darken($light-gray, 9%);
    color: darken($light-green, 13%);
  }
}

header {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 52px;
  font-weight: 600;
  font-family: 'EB Garamond', serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: -0.025em;
  cursor: default;
  user-select: none;
}

.image {
  margin: 20px auto;
  margin-bottom: 40px;
  text-align: center;

  canvas {
    border-radius: 5px;
  }
}

article {
  margin-top: 170px;
  margin-left: 20px;
  width: 900px;

  .plot-container {
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;

      circle {
        cursor: pointer;
      }
    }

    .color-tooltip {
      margin-left: 22px;
      padding: 5px 10px;
      position: absolute;
      max-width: 130px;
      height: 62px;
      background-color: white;
      font-family: 'Noto Sans', sans-serif;
      font-size: 12px;
      color: #525252;
      z-index: 10;
      border-radius: 3px;

      h2 {
        margin: 2px 0;
        padding: 1px 3px;
        display: inline;
        font-size: 13px;
        text-shadow: 0px 1px 1px #4e4e4e;
        color: white;
      }

      h3 {
        font-weight: bold;
        font-size: 11px;
        color: #6c6c6c;
        letter-spacing: 0.015em;
      }

      &:after {
        padding-left: 22px;
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: white;
        border-width: 8px;
        margin-top: -8px;
      }
    }
  }
}

.links {
  margin: 20px 0;
  margin-left: -40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 400px;
  font-family: 'EB Garamond', serif;
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;

  p {
    font-weight: 500;

    em {
      font-weight: 700;
    }
  }

  a {
    margin-top: -10px;
    font-weight: 700;
    text-decoration: none;
    color: $light-green;

    &:hover {
      text-decoration: underline;
      color: $dark-green;
    }
  }
}

.blurb-color {
  margin-left: 12px;
  position: absolute;
  top: 716px;
  width: 430px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'EB Garamond', serif;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 999;

  em {
    font-weight: 700;
  }
}
